version: '3'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: alfa_dataset 
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    ports: 
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy 
    environment:
      DATABASE_URL: "postgres://postgres:postgres@db:5432/alfa_dataset"

volumes:
  postgres_data: 